# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store

# Dados gerados
data/bronze/*
data/silver/*
data/gold/*

# Mantém a estrutura das pastas
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep